*.bat
*.cmd
*.log
*.exe
*.py
media/*.png
media/*.jpg
media/*.gif
media/android/*.*
media/backgrounds/*.*
media/calibrate/*.*
media/cdart/*.*
media/dialogs/*.*
media/flags/*.*
media/osd/*.*
media/overlays/*.*
media/scrollbar/*.*
media/thumbs/*.*
media/tvlogos/*.*
media/views/*.*
themes/test
colors/test.xml
1080i/script-skinshortcuts-includes.xml
1080i/Custom_Debug_Overlay.xml
backgrounds/debuggrid1080.png